name: Clarity Contract Checks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Clarinet
        uses: stacks-network/setup-clarinet@v1
      - name: Check contracts
        run: clarinet check

